tqdm
absl-py
torch
transformers
langchain
langchain-community
langchain-openai
langchain-huggingface
gradio
unstructured
pdf2image
pdfminer
pdfminer.six
opencv-python
unstructured_inference
layoutparser
onnxruntime
pikepdf
sentence-transformers
chromadb
pillow_heif
unstructured.pytesseract